body {
	-webkit-tap-highlight-color: transparent;
	-webkit-font-smoothing: antialiased;
}

body.light {
	--bg: rgb(245, 243, 243);
	--landingBg: linear-gradient(0deg, rgba(245, 243, 243, 1) 0%, rgba(58, 171, 247, 1) 100%);
	--layout: rgb(255, 255, 255);
	--header: #000;
	--text: #222;
	--hr: hsla(0, 0%, 0%, 0.2);
	--inlineCode-bg: rgba(255, 229, 100, 0.2);
	--inlineCode-text: #1a1a1a;
	--hover: #fcf113;
	--eggBody: #fff;
	--yolk: #ffdb10;
	transition: all 0.8s ease-in-out;
}

body.dark {
	--bg: #181818;
	--landingBg: linear-gradient(0deg, rgba(24, 24, 24, 1) 0%, rgba(3, 45, 73, 1) 100%);
	--layout: #000000;
	--header: #fff;
	--text: #fff;
	--hr: hsla(0, 0%, 100%, 0.338);
	--inlineCode-bg: rgba(67, 97, 149, 0.5);
	--inlineCode-text: #e6e6e6;
	--hover: #8c61ff;
	--eggBody: #00baee;
	--yolk: #cccdce;
	transition: all 0.8s ease-in-out;
}

.layout-container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background: var(--bg);
	color: var(--text);
	transition: all 0.8s ease-in-out;

	.content {
		flex-grow: 1;
	}

	a {
		box-shadow: none;
		text-decoration: none;
		color: var(--text);
	}
}

.landing-container {
	background: var(--bg);
	background: var(--landingBg);
	transition: all 0.8s ease-in-out !important;
}

main {
	flex: 1;
}