@import "./variables";

body {
	-webkit-tap-highlight-color: transparent;
	-webkit-font-smoothing: antialiased;
	background-color: $dark;
	color: $white;
}

.layout-container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background: var(--bg);
	color: var(--text);
	transition: all 0.8s ease-in-out;

	.content {
		flex-grow: 1;
	}

	a {
		box-shadow: none;
		text-decoration: none;
		color: var(--text);
	}
}

.landing-container {
	background: var(--bg);
	background: var(--landingBg);
	transition: all 0.8s ease-in-out !important;
}

main {
	flex: 1;
}