@import "./functions";
@import "./variables";

.post-body {
  h2 {
    margin-top: 5rem;
  }

  h4 {
    margin-top: 2rem;
  }

  hr {
    width: 40%;
    margin-left: 0;
    border: 2px solid $gray-border;
  }

  img {
    margin: 3rem 0;
  }
}
