@import "./hamburger";
@import "../variables";
@import "../functions";
@import "../mixins";

.mainNav {
	background-color: transparent;
	transition: background-color 0.8s ease-in-out;

	.navbar-brand {
		font-weight: weight(bold);
		color: var(--text) !important;
		padding: 0.5rem;

		&:hover {
			border-bottom: 2px solid $primary;
			color: var(--text);
			opacity: 0.8;
		}
	}

	.navbar-toggle {
		border: none;
	}

	#basic-navbar-nav {
		.nav-link {
			margin: 1rem;
			color: var(--text);

			&:hover {
				border-bottom: 2px solid $primary;
				opacity: 0.8;
			}
		}

		.nav-link:nth-child(2) {
			margin-right: 2rem;
		}
	}
	
}

.navbar-shrink {
	background-color: var(--layout) !important;
}

@media (max-width: 767px) {
	.mainNav #basic-navbar-nav {
		.nav-link, .nav-link:nth-child(2) {
			margin: auto;
			padding: 1rem;
		}
	}
}